click==8.1.7
colorama==0.4.6
ConfigSpace==0.7.1
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
fonttools==4.51.0
kiwisolver==1.4.5
matplotlib==3.8.4
more-itertools==10.2.0
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==10.3.0
pygame==2.5.2
pyparsing==3.1.2
pyperplan==2.1
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.0
setuptools==70.0.0
six==1.16.0
termcolor==2.4.0
typing_extensions==4.10.0
tzdata==2024.1
unified-planning==1.1.0.42.dev1
up-enhsp==0.0.25
wheel==0.43.0
